---
import Layout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProjectCategoryIcon from "../components/ProjectCategoryIcon.astro";
import DisplayProjects from "../components/DisplayProjects.astro";

const projects = await getCollection("links");
const visibleProjects = projects.filter((project) => !project.data.hidden);

const groupedProjects = visibleProjects.reduce((acc, project) => {
  const category = project.data.category;
  if (!acc[category]) {
    acc[category] = [];
  }
  acc[category].push(project);
  return acc;
}, {});

const sortedCategories = Object.keys(groupedProjects).sort();
sortedCategories.forEach((category) => {
  groupedProjects[category].sort(
    (a: { data: { title: string } }, b: { data: { title: any } }) =>
      a.data.title.localeCompare(b.data.title)
  );
});
---

<Layout
  title="links"
  description="links for my stuff cause i dont like linktree"
  pageTitle="copperdevs"
>
  <div class="index-callout">
    <h2 class="index-callout-main">main stuff and yeah</h2>
    <h4 class="index-callout-sub color-gray-light">
      sub and stuff and hehe :3 and sub and dom owo
    </h4>
  </div>

  <section class="mobile-spacing">
    {
      sortedCategories.map((category) => (
        <>
          <h2 class="project-category-header">
            <span class="white-hover glow-hover">{category}</span>
            <div class="white-hover glow-hover">
              <ProjectCategoryIcon category={category} />
            </div>
          </h2>
          <hr />
          <DisplayProjects
            projects={groupedProjects[category]}
            showCategoryIcon={false}
          />
        </>
      ))
    }
  </section>
</Layout>
