---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="home"
  description="links for my website and crap yknow"
  pageTitle="copperdevs"
>
  <div class="index-callout">
    <h2 class="index-callout-main">main stuff and yeah</h2>
    <h4 class="index-callout-sub color-gray-light">
      sub and stuff and hehe :3 and sub and dom owo
    </h4>
  </div>
</Layout>
