---
import Layout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import CategoryIcon from "../components/CategoryIcon.astro";
import DisplayLinks from "../components/DisplayLinks.astro";

const links = await getCollection("links");
const visibleLinks = links.filter((link) => !link.data.hidden);

const groupedLinks = visibleLinks.reduce((acc, project) => {
  const category = project.data.category;
  if (!acc[category]) {
    acc[category] = [];
  }
  acc[category].push(project);
  return acc;
}, {});

const sortedCategories = Object.keys(groupedLinks).sort();
sortedCategories.forEach((category) => {
  groupedLinks[category].sort(
    (a: { data: { title: string } }, b: { data: { title: any } }) =>
      a.data.title.localeCompare(b.data.title)
  );
});
---

<Layout
  title="links"
  description="links for my stuff cause i dont like linktree"
  pageTitle="copperdevs"
>
  <div class="index-callout mobile-spacing">
    <h2 class="index-callout-main">main stuff and yeah</h2>
    <h4 class="index-callout-sub color-gray-light">
      sub and stuff and hehe :3 and sub and dom owo
    </h4>
  </div>

  <section class="mobile-spacing">
    {
      sortedCategories.map((category) => (
        <>
          <h2 class="project-category-header">
            <span class="white-hover glow-hover">{category}</span>
            <div class="white-hover glow-hover">
              <CategoryIcon category={category} />
            </div>
          </h2>
          <hr />
          <DisplayLinks projects={groupedLinks[category]} />
        </>
      ))
    }
  </section>
</Layout>
