---
import Layout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import DisplayLinks from "../components/DisplayLinks.astro";

const links = await getCollection("links");
const visibleLinks = links.filter((link) => !link.data.hidden);

const sortedLinks = visibleLinks.sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<Layout
  title="links"
  description="links for my stuff cause i dont like linktree"
  pageTitle="copperdevs"
>
  <div class="index-callout mobile-spacing">
    <h2 class="index-callout-main">main stuff and yeah</h2>
    <h4 class="index-callout-sub color-gray-light">
      sub and stuff and hehe :3 and sub and dom owo
    </h4>
  </div>

  <section class="mobile-spacing">
    <DisplayLinks links={sortedLinks} />

    {
      sortedLinks.length == 0 && (
        <h4>
          <span class="color-gray-light white-hover glow-hover">
            wow this is really awkward..
          </span>
          <span class="color-gray-light white-hover glow-hover">
            i dont got any public projects to show here yet :p
          </span>
        </h4>
      )
    }
  </section>
</Layout>
