---
import LinkItem from "./LinkItem.astro";

interface Props {
  links: any[];
}

const { links } = Astro.props;
---

<section>
  {
    links.map((link, index) => (
      <>
        <section>
          <LinkItem
            title={link.data.title}
            displayText={link.data.displayText}
            url={link.data.link}
            icon={link.data.icon}
          />
          {index < links.length - 1 && <hr />}
          {!(index < links.length - 1) && (
            <>
              <br />
              <br />
            </>
          )}
        </section>
      </>
    ))
  }
</section>
