---
import LinkItem from './LinkItem.astro';

interface Props {
  projects: any[];
}

const { projects } = Astro.props;
---

<section>
  {
    projects.map((project, index) => (
      <>
        <section>
          <LinkItem
            title={project.data.title}
            fancyUrl={project.data.fancyLink}
            url={project.data.link}
          />
          {index < projects.length - 1 && <hr />}
          {!(index < projects.length - 1) && (
            <>
              <br />
              <br />
            </>
          )}
        </section>
      </>
    ))
  }
</section>
