---
interface Props {
  spacing?: number;
}

const { spacing = 4 } = Astro.props;
---

<style>
  .divider {
    width: 4px;
    height: auto;
    display: inline-block;
  }
</style>

<div class="divider" style=`width: ${spacing}px`></div>
