---
interface Props {
  title: string;
  fancyUrl: string;
  url: string;
}

const { title, fancyUrl, url } = Astro.props;
---

<div>
  <h3 class="project-item-header link-tree-link-list-headers">
    <a href={url}>
      <span class="text-gradient">{title}</span>
    </a>
  </h3>

  <h4 class="color-gray-dark-white-hover link-tree-link-list-headers">
    <span>{fancyUrl}</span>
  </h4>
</div>
