---
interface Props {
  title: string;
  description: string;
  pageTitle: string;
}

const { title, description, pageTitle } = Astro.props;

import Umami from "../components/Umami.astro";
import FontAwesome from "../components/FontAwesome.astro";
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} // {title}</title>
    <FontAwesome projectId="45b7384014" />
    <Umami siteId="a6562bcb-5174-4411-b433-e2682d7fd3ff" />
  </head>
  <body>
    <div class="content">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
